<header>
  <nav role="navigation">
    <div id="container-navbar-brand">
      <a id="navbar-brand">
        <img class="img-header" src="assets/images/logos/logo_menu.png" />
      </a>
    </div>
    <button type="button" (click)="collapseAndView()">
      <span>
        <img src="assets/images/iconos/menu.svg" />
      </span>
    </button>
    <div id="container-navbar-links" class="navlinks-list hidden-nav">
      <div class="navbar-links">
        <a
          href="#what-do-we-do"
          [class.active]="activeRouter.includes('#what-do-we-do')"
          (click)="setActiveRouter()"
          class="nav-link"
          id="nav-que-hacemos"
          >Qué hacemos</a
        >
      </div>
      <div class="navbar-links">
        <a
          id="nav-about-us"
          href="#about-us"
          [class.active]="activeRouter.includes('#about-us')"
          (click)="setActiveRouter()"
          class="nav-link"
          >Quiénes Somos</a
        >
      </div>
      <div class="navbar-links">
        <a
          id="nav-contact-us"
          href="#contact-us"
          (click)="setActiveRouter()"
          [class.active]="activeRouter.includes('#contact-us')"
          class="nav-link"
          >Contacto</a
        >
      </div>
    </div>
  </nav>
</header>
<main>
  <section class="main-section">
    <div class="container-home home">
      <div class="container-home-img home">
        <img src="assets/images/logos/Logo_MB_Home.png" />
      </div>
      <div class="containter-home-texts home">
        <h1>Martínez Bellinzona</h1>
        <p>DERECHO DE FAMILIA Y NIÑOS</p>
      </div>
      <div class="button-home home">
        <button class="btn-radius" type="button" (click)="goToNextSection()">
          <img
            src="assets/images/iconos/flecha-abajo.svg"
            class="home"
            width="20px"
          />
        </button>
      </div>
    </div>
  </section>
  <section class="first-section home">
    <div class="container-first-section home">
      <div class="container-first-section-img">
        <img
          src="assets/images/titulos/texto_1.png"
          width="700px"
          alt="titulo-1"
          class="img-texto-1"
        />
      </div>

      <div class="container-first-section-texts" id="what-do-we-do que-hacemos">
        <p class="first-section-text" id="what-do-we-do">
          La especialización nos identifica. Somos un grupo de profesionales
          especializados en derecho de familia y niños liderado por Mariana
          Martínez Bellinzona, segunda generación de abogados.
        </p>
        <p class="first-section-text" id="what-do-we-do que-hacemos">
          Las relaciones interpersonales que se generan en el ámbito
          afectivo-familiar presentan obstáculos. Nuestro trabajo como
          especialistas en derecho de infancia, adolescencia y familia es
          solucionarlos tratando de preservar la indemnidad de los vínculos y
          para ello formamos un equipo altamente capacitado en todas las ramas
          del derecho y disciplinas que involucran las relaciones familiares.
          Así, podemos abordar conflictivas tanto civiles como penales desde una
          óptica diferente, entendiendo que la resolución de los problemas no
          siempre significan la ruptura de la paz familiar.
        </p>
        <p class="first-section-text que-hacemos">
          Nos signa el respeto por el cliente y por su derecho a estar
          informado, y le creamos un espacio pensado para la exclusividad y
          profesionalismo que merece.
        </p>
      </div>
    </div>
  </section>
  <section class="second-section">
    <div class="container-second-section">
      <div class="container-second-section-texts que-hacemos">
        <p class="second-section-text que-hacemos">
          La solución integral implica trabajar con especialistas de otras
          disciplinas y consensuar con ellos la resolución más adecuada a la
          problemática que presenta el cliente. Cuando ésta se genera dentro del
          seno familiar afecta tanto la vida personal, como la laboral e incluso
          la salud, por eso la solución debe ser además de integral, ágil.
        </p>
        <p class="second-section-text que-hacemos">
          Nuestra trayectoria y experiencia en el área nos permitió conformar un
          equipo que está integrado con los mejores profesionales, garantizando
          así tanto el abordaje profesional como su celeridad. Estamos siempre
          capacitándonos para hacernos cargo de las dificultades que afrontan
          las minorías, mujeres y niños en este nuevo paradigma socio-cultural.
        </p>
      </div>
      <div class="container-second-section-img que-hacemos">
        <img
          src="assets/images/titulos/texto_2.png"
          alt="titulo-2"
          width="600px"
          class="img-what-do-we-do"
        />
      </div>
    </div>
  </section>
  <section class="three-section">
    <div class="container-three-section">
      <div class="container-three-section-img">
        <img src="assets/images/titulos/texto_3.png" class="img-text-3" />
      </div>
      <div class="container-three-section-texts que-hacemos">
        <p class="three-section-text que-hacemos">
          En muchas oportunidades las opiniones de los niños son silenciadas por
          incomodar a los adultos y entonces todas las decisiones son tomadas
          sin su participación.
        </p>
        <p class="three-section-text que-hacemos">
          Nuestro equipo desde el respeto por la opinión de las niñas, niños y
          adolescentes trabajamos en encontrar la solución del problema que
          afecta al grupo familiar entendiendo que sus voces deben ser oídas y
          tenidas en cuenta.
        </p>
      </div>
    </div>
  </section>
  <section class="four-section">
    <div id="about-us" class="container-four-section about-us">
      <div class="container-four-section-img">
        <img src="assets/images/general/DSC_0047.png" class="img-circle" />
      </div>
      <div class="container-four-section-texts about-us">
        <h2>
          <em> Mariana </em> <br />
          Martínez Bellinoza
        </h2>
        <h3 class="about-us">Especialidades</h3>
        <ul>
          <li>Derecho de familia</li>
          <li>Derecho a la infancia</li>
          <li>Penal de menores</li>
          <li>Derechos humanos</li>
        </ul>
        <h3 class="about-us">Educación</h3>
        <p>
          Abogada, Profesora Superior en Derecho y Especialista en Infancia,
          Adolescencia y Familia en la Pontificia Universidad Católica
          Argentina. Especialista en Derecho de Familia en la Universidad
          Nacional de Rosario. Maestranda en Argumentación Jurídica en la
          Universidad Nacional del Litoral y doctoranda en la Pontificia
          Universidad Católica Argentina. Actualmente estoy investigando sobre
          los métodos de aplicación de estándares internacionales en los
          institutos del derecho de familia.
        </p>
        <div class="container-four-section-button about-us">
          <button type="button" class="btn-green" (click)="downloadCFV()">
            Contactame
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <div id="contact-us" class="container-footer contact-us">
    <div class="container-footer-section-texts-img contact-us">
      <h4>
        <em>Nuestro</em><br />
        ESTUDIO
      </h4>
      <img
        src="assets/images/general/cfachada3.jpg"
        width="100%"
        height="400px"
        class="contact-us"
      />
    </div>
    <div class="bg-color-brown">
      <div class="footer-logo-section contact-us">
        <img
          src="assets/images/logos/Logo_MB_Final.png"
          width="120px"
          class="logo-final"
        />
      </div>
      <div class="footer-section-texts contact-us">
        <p>D I R . Junín 191 . Piso 09 - oficina 06</p>
        <p>E-MAIL. estudiojuridico.mb@hotmail.com</p>
        <p>TEL. (341) 641 7552 / 641 8751</p>
      </div>
      <div class="footer-icons-section contact-us">
        <a
          href="https://www.facebook.com/EstudioMartinezBellinzona/"
          class="mrb-4"
          ><img src="assets/images/iconos/Facebook.png" width="30px" /></a
        ><a href="https://www.instagram.com/estudiojuridico.mb/" class="mrb-4"
          ><img src="assets/images/iconos/Ig.png" width="30px" /></a
        ><a href="https://twitter.com/dmfmb"
          ><img src="assets/images/iconos/Twitter.png" width="30px"
        /></a>
      </div>
    </div>
    <div class="footer-section-container contact-us">
      <div class="arq">
        <p>Arquitectura y diseño</p>
        <img src="assets/images/logos/Logo_Arquitectos.png" />
      </div>
      <div class="design">
        <p>Diseño y Comunicación</p>
        <img src="assets/images/logos/Logo_DiseñoCom.png" />
      </div>
      <div class="develop">
        <p>Desarrollador por</p>
        <img src="assets/images/logos/Logo_Desarrollo.png" />
      </div>
    </div>
  </div>
</footer>
